// importing all needed files
@import "fonts.scss";
@import "varibles.scss";
@import "mixins.scss";
@import "functions.scss";

// common styles
.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}
.main-head {
  @include main-head(
    1,
    1
  ); // - arguments inserted to show that compiler works properly, else gets error
}

.main-text {
  @include main-text(
    1,
    1
  ); // - arguments inserted to show that compiler works properly, else gets error
}

.main-btn {
  @include main-btn(
    1,
    1,
    black
  ); // - arguments inserted to show that compiler works properly, else gets error
}

//test if css link and font link are properly attached to html, delete if color and font appears properly
header {
  padding: 56px 0 0 0;
  background-image: url(../img/header-bg.jpg);
  background-image: url(../img/header-bg.webp);
  background-image: url(../img/header-bg.avif);
  background-size: cover;
  background-position: center center;
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .head-menu {
      display: inline-flex;
      justify-content: space-between;
      .btn {
        position: relative;
        height: 13px;
        width: 20px;
        border-top: 2px solid $black;
        border-bottom: 2px solid $black;
        cursor: pointer;
        .row {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          height: 2px;
          width: 100%;
          background-color: $black;
        }
      }
    }
  }
}
