@font-face {
  font-family: "Lato Light";
  src: url("../fonts/Lato-Light.eot");
  src: url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Varela Round";
  src: url("../fonts/VarelaRound-Regular.eot");
  src: local("../fonts/Varela Round Regular"), local("VarelaRound-Regular"), url("../fonts/VarelaRound-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/VarelaRound-Regular.woff2") format("woff2"), url("../fonts/VarelaRound-Regular.woff") format("woff"), url("../fonts/VarelaRound-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

picture,
img {
  height: auto;
  max-width: 100%;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-head {
  font-family: "Varela Round", sans-serif;
  font-size: 0.05208vw;
  line-height: 0.05208vw;
}

.main-text {
  font-family: "Lato Regular", sans-serif;
  font-size: 1.04167vw;
  line-height: 1.45833vw;
  color: #8c8f94;
}

header {
  padding: 56px 0 0 0;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-position: center center;
}

header .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-container .head-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-container .head-menu .btn {
  position: relative;
  height: 13px;
  width: 20px;
  border-top: 2px solid #1b1c1e;
  border-bottom: 2px solid #1b1c1e;
  cursor: pointer;
  margin-right: 10px;
}

header .nav-container .head-menu .btn .row {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 2px;
  width: 100%;
  background-color: #1b1c1e;
}

header .nav-container .head-menu .menu-item {
  padding: 0 20px;
}

header .nav-container .head-menu .menu-item a {
  font-family: "Lato Regular", sans-serif;
  font-size: 0.83333vw;
  line-height: 1.04167vw;
  text-transform: capitalize;
  color: #26272d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .nav-container .head-menu .menu-item a:hover {
  color: #a2a3a5;
}
/*# sourceMappingURL=style.css.map */