// colors
$black: #1b1c1e;
$black200: #26272d;
$black400: #3a3d4b;
$black600: #26292c;
$gray: #8c8f94;
$gray200: #e9e9ea;
$gray300: #dadcdf;
$gray400: #f4f4f5;
$gray500: #f4f4f4;
$gray600: #d5d6d7;
$gray800: #a2a3a5;
$gray900: #ebebed;
$blue: #267df4;

$white: #fff;
$white200: #f5f5f8;
$green: #6fc754;
$gray-background: #f5f5f8;
$after: #267df4;
$grey-border: #cbcbce;
$placeholder: #454855;

// fonts
$latoLight: "Lato Light", sans-serif;
$latoRegular: "Lato Regular", sans-serif;
$latoBold: "Lato Bold", sans-serif;
$varelaRegular: "Varela Round", sans-serif;
